workspace
Dockerfile
.idea
.git
.cache
example
.nv
*.wav
Dockerfile_test
tmp
pretrained_models
**/__pycache__/
**/*.pyc
**/*.pyo
**/.mypy_cache/
**/.pytest_cache/
**/.ruff_cache/
**/.venv/
**/venv/
*.log
.buildcache