conformer
deepspeed
diffusers
fastapi
fastapi-cli
gdown
gradio
grpcio
grpcio-tools
hydra-core
HyperPyYAML
inflect
librosa
lightning
matplotlib
modelscope
networkx
omegaconf
openai-whisper
pyarrow
pydantic
rich
soundfile
tensorboard
tensorrt-cu13
tensorrt-cu13-bindings
tensorrt-cu13-libs
transformers
x-transformers
uvicorn
wetext
wget
